.contact{
    border-top: 1px solid rgba(119, 182, 223, 0.798);
    padding-top: 40px;
    text-align: center;
    height: 100px;
    position: relative;
    margin: 98px 0;
    max-width: none;
    width: 100%;
}

.contact__icon{
    width: 60px;
}

.icon--email{
    padding: 8px;
}
.icon--github{
    padding: 5px;
}

.contact__link{
    text-decoration: none;
}

.go-up{
    width: 40px;
    position: absolute;
    top: 0;
    left: 44%;
}

@media(min-width:600px){
    .contact__icon{
        width: 80px;
    }    

    .go-up{
        width: 40px;
        position: absolute;
        top: 0;
        left: 47%;
    }
}

@media(min-width:1200px){
    .go-up{
        width: 60px;
        position: absolute;
        top: -10px;
        left: 48%;
    }
}