
.hero{
    min-height: 600px;
    display: flex;
    align-items: center;
}

.hero__title{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700px;
    font-size: 28px;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 40px;
}
