@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); //hero text

.hero{
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 2px solid #9C9EFE;
    border-radius: 5px;
    height: 480px;
    width: 350px;
}

.hero__title{
    font-family: 'Acme', sans-serif;
    font-weight: 700px;
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 40px;
    color: #5f8ada;
}

.hero__icon{
    width: 160px;
    opacity: 0.6;
    padding-left: 10px;
}