@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap'); //logo font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); //menu category
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #B2A4FF;
    position: relative;
    max-width: none;
    width: 100%;
}

.navbar__logo{
    font-family: 'Bungee Inline', cursive;
}

.navbar__logo--reload{
    text-decoration: none;
    color: #FFEE63;
}

// menu hamburger button  
.navbar__menu-btn{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
}

.navbar__menu-btn:hover{
    cursor: pointer;
}

.menu-btn__bar{
    width: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #FFEEAF;
}

.first.change{
    position: relative;
    top: 9.6px;
    transform: rotate(45deg);
}
.second.change{
    opacity: 0;
}
.last.change{
    position: relative;
    bottom: 13px;
    transform: rotate(-45deg);
}

// navbar menu container
.navbar__menu{
    background-color: #4c80e0be;
    list-style: none;
    min-width: 180px;
    height: 100vh;
    position: absolute;
    top: 58px;
    right: 0;
    padding: 0 20px;
    display: none;
    border-bottom-left-radius: 10px;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

// menu inner box
.menu__category{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 4px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}

.menu__category--link{
    text-decoration: none;
    color: white;
}

.menu__category--link:hover{
    cursor: pointer;
    color: #f3f3a0;
    box-shadow: 0px 1px 2px 0px rgba(245, 245, 245, 0.564);
}