@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');  //project-keywords
// font-family: 'Abel', sans-serif;

.projects{
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.projects__title{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: rgb(61, 61, 66);
}

.projects__cards{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 30px;
    position: relative;
    top: 0;
    overflow: scroll;
}

.projects__cards::-webkit-scrollbar{
    display: none;
}

.projects__card{
    width: 300px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-size: 96%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: rgba(255, 255, 255, 0.486);
    flex: 1 0 300px;
    margin:0 36px;
}

.projects__card:nth-child(1){
    background-image: url("/images/slide-img/single-page.png");
}
.projects__card:nth-child(2){
    background-image: url("/images/slide-img/loopstudio.png");
}
.projects__card:nth-child(3){
    background-image: url("/images/slide-img/intro-componenet.png");
}
.projects__card:nth-child(4){
    background-image: url("/images/slide-img/snap.png");
}
.projects__card:nth-child(5){
    background-image: url("/images/slide-img/dice.jpg");
}
.projects__card:nth-child(6){
    background-image: url("/images/slide-img/pod-request.png");
}
.projects__card:nth-child(7){
    background-image: url("/images/slide-img/faq-accordion.png");
}


.projects__card--keyword{
    width: 300px;
    height: 250px;
    border: solid 1px rgba(209, 206, 227, 0.507);
    border-radius: 15px;
    color: transparent;
    font-family: 'Abel', sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding: 30px;
}

.projects__card--keyword:hover{
    color: #F7F6DC;
    transition: 0.2s ease-in;
    background: rgb(131,181,130);
    background: linear-gradient(0deg, #4092b0 5%, rgba(238, 250, 243, 0.118) 100%);
    border: solid 0.1px rgba(209, 206, 227, 0.194);
}

.projects__link{
    text-decoration: none;
}

.projects__buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 4px;
}
.projects__button{
    background-color: rgba(192, 135, 233, 0.469);
    padding: 8px;
    width: 30px;
    border-radius: 10px;
}

.projects__button:hover{
    cursor: pointer;
    background-color:#7dbfd79c;
    box-shadow: 1px 1px 0px 1px rgba(34, 128, 222, 0.438);
}

@media(min-width:600px){
    .projects__title{
        font-size: 36px;
        margin-bottom: 40px;
    }

    .projects__card{
        width: 350px;
        height: 250px;
        background-size: 96%;
        background-position: 50% 20%;
        flex: 1 0 30px;
    }

    .projects__buttons{
        min-width: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        margin-top: 4px;
    }
    .projects__button{
        padding: 10px;
        width: 40px;
        border-radius: 10px;
        margin: 20px 20px 0;
    }
}

@media(min-width:1200px){
    .projects__card{
        width: 400px;
        height: 300px;
        background-position: 50% 60%;
    }

    .projects__buttons{
        padding: 0 500px;
    }
    .projects__button{
        margin-top: 60px;
    }
    
}