$text: rgb(61, 57, 57);
.profile{
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.profile__photo{
    width: 200px;
    border-radius: 120px;
    border: 6px solid #277bc08a;
    margin-top: 20px;
}

.profile__text{
    margin-top: 20px;
    padding: 20px;
}
.profile__header{
    font-weight: 700;
    font-synthesis: 32px;
    color: $text;
}
.profile__job-title{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: $text;
}
.profile__phrase{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 30px;
    color: $text;
}

@media(min-width:600px){
    .profile__photo{
        margin-top: 0;
        width: 300px;
        border-radius: 150px;
        border: 8px solid #277bc08a;
    }

    .profile__header{
        font-synthesis: 36px;
    }
    .profile__job-title{
        margin-top: 14px;
        font-size: 18px;
    }
    .profile__phrase{
        font-size: 22px;
        line-height: 28px;
        padding: 40px 80px;
    }

}

@media(min-width:1200px){
    .profile__header{
        margin-top: 30px;
        font-synthesis: 38px;
    }
    .profile__job-title{
        margin-top: 18px;
        font-size: 18px;
    }
    .profile__phrase{
        font-size: 24px;
        line-height: 34px;
        padding: 40px 30%;
    }
}