.skills{
    font-family: 'Signika Negative', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px 100px;
}

// skills title/logo
.skills__title{
    text-align: center;
}

.skills__title--icon{
    width: 80px;
}

.skills__title--name{
    font-weight: 700;
    font-size: 18px;
    color: rgb(61, 61, 66);
}

.skills__item{
    margin: 20px 10px 0px 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

//item logo box
.skills__item--logo{
    display: flex;
    align-items: center;
    width: 140px;
    margin-right: 6px;
}

.skills__item--icon{
    width: 36px;
    padding: 4px;
}

.skills__item--name{
    font-weight: 700;
    font-size: 14px;
    color: rgb(59, 59, 83);
}

// skills graph
.skills__graph{
    border: 1px solid honeydew;
    width: 200px;
    height: 22px;
    background-color: rgb(159, 209, 229);
    border-radius: 10px;
}

.skills__graph--inner{
    height: 22px;
    background-color: rgb(70, 97, 206);
    border: 1px solid honeydew;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
    padding: 0 5px;
}


@media(min-width: 600px){
    .skills{
        margin: 40px 20px 100px;
        padding: 30px 0;
    }

    .skills__title{
        margin-bottom: 30px;
    }

    .skills__title--icon{
        width: 120px;
    }
    .skills__title--name{
        font-size: 24px;
    }

    .skills__item{
        margin: 30px 10px 0px 10px;
    }

    .skills__item--logo{
        width: 260px;   
    }

    .skills__item--icon{
        width: 48px;
        padding: 4px;
    }
    
    .skills__item--name{
        font-weight: 700;
        font-size: 18px;
    }

    .skills__graph{
        width: 260px;
        height: 30px;
        border-radius: 15px;
    }
    
    .skills__graph--inner{
        height: 30px;
        display: flex;
        justify-content: right;
        align-items: center;
        border-radius: 15px;
        padding: 0 10px;
    }
    
}


@media(min-width: 1200px){
    .skills{
        margin: 80px 20px;
    }

    .skills__title--name{
        font-size: 26px;
    }

    .skills__graph{
        margin-left: 80px;
        width: 360px;
        height: 30px;
        border-radius: 15px;
    }
}